.saved-posts
{
    padding-top: 100px !important;
    height: 85vh;
    overflow-y: auto;
    padding:10px 49px 10px 53px;
}



.local-saves
{
    padding-top: 100px !important;
    height: 85vh;
    overflow-y: auto;
    padding:10px 49px 10px 53px;
}


.options-container
{
    border-radius: 14px;
    padding: 5px 8px;
    font-size: 22px;
    font-weight: bold;
}