.post
{
    background-color: rgb(24, 22, 22) !important;
    border: 1px rgba(200, 198, 196, 0.658) solid;
}
.post-btn
{
    width: 37px !important;
    height: 37px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.snippet-title
{
    color: rgba(255, 213, 0, 0.812);
    font-size: 25px !important;
}



.like-btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    height: 42px;
    width: 42px;
}

.intrested-icon
{
    cursor: pointer;
}

.share-option
{
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
}


.instagram-option {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .x-option
  {
    background-color: grey;
  }

  .saved-at
  {
    margin: 9px;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: bold; 
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
  }


  .guide-icon
  {
    margin: 9px;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: bold; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .collection-input::placeholder
  {
    color: rgb(184, 177, 177);
  }