.post-btn
{
    width: 43px !important;
    height: 43px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}



.like-btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    height: 50px;
    width: 50px;
}

.intrested-icon
{
    cursor: pointer;
}