.search-box
{
   border: 2pt solid #0d6efd ;
   border-radius: 18px;
   flex-grow: 1;

   height: 55px;
   font-size: 21px;
   padding: 0;
}

.search-box-input
{
   outline: none;
   height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    color: aliceblue;
    font-weight: bold;
}

.search-box-form
{
   outline: none;
   height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
}



.search-box-form
{
    display : flex;
    flex-direction: row-reverse;
}


.search-icon-cont
{
   flex-grow: 0;
   border: 2pt solid #0d6efd ;
   height: 55px;
   width: 55px !important;
   min-height: 55px;
   border-radius: 20px;
   display: flex ;
   justify-content: center;
   align-items: center;


}


.search-icon
{
   font-size: 30px;
}

.ais-Hits-list {
   list-style: none; 
   padding: 0;
   margin: 0;
 }
 
 .ais-Hits-item {
   counter-increment: none;
 }
 
 .search-modal {
   display: flex;
   flex-direction: column;
 }
 
 .search-box-container {
   position: sticky;
   top: 0;
   z-index: 1000;
   background-color: #1E1E1E;
   padding: 10px;
 }
 
 .search-results-container {
   flex-grow: 1;
   overflow-y: auto;
   padding: 10px;
 }
 
 .ais-InfiniteHits-list {
   list-style: none;
   padding: 0;
 }
 
 .ais-Highlight-highlighted {

  background-color: #90c1da;
  border-radius: 7px;
}
 